<%= @chat_room.title %>

<ul id="messages">
  <% @chat_room.messages.each do |msg| %>
    <li> <%= msg.content %> --- <%= msg.created_at.strftime("at %I:%M%p") %> </li>
  <% end %>
</ul>

<%= form_for @chat_room.messages.new, :remote => true do |f| %>
  <%= f.hidden_field :chat_room_id %>
  <p> <%= f.label :new_message %> </p>
  <p> <%= f.text_field :content %>   <%= f.submit "Post" %></p>
<% end %>
